/* website fonts */
@font-face {
    font-family: "Arvo";
    src: url(Fonts/Arvo-Bold.ttf);
    src: url(Fonts/Arvo-BoldItalic.ttf);
    src: url(Fonts/Arvo-Italic.ttf);
    src: url(Fonts/Arvo-Regular.ttf);
}
body{
    font-family: "Arvo";
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
/* brand logo at the top of the page */
.ex1 {
    border-color: black;
    border-radius: 8px;
    height: 60px;
    width: 60px;
}
/* header of the top of the page */
.header{
    position: sticky;
    top: 0;
    border: none;
    border-bottom: 1px solid #000000;
    z-index: 100;
    background-color: grey;
}
.terminal{
    display: inline-block;
}
.write {
    color: black;
    font-family: "Menlo";
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 4.0s steps(30, end),
      blink-caret .5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

/* hyper links sections */
.nav{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}
.nav a{
    padding-right: 50px;
}
.links a{
    margin: 20px;
    font-size: larger;
    text-decoration: none;
}
a:link, a:visited {
    color: inherit;
    text-decoration: none;
}
/* home directory */
.home{
    position: relative;
    display: flex;
    border: none;
    border-color: black;
    border-bottom: 1px solid black;
    height: 100vh;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-image: url('https://images.pexels.com/photos/593322/pexels-photo-593322.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:cover;
}
.home span{
    margin-bottom: 20px;
    font-size: 30px;
}
.title span {
	--total: calc(var(--duration) + var(--delay));
	position: relative;
	display: block;
	color: transparent;
	overflow: hidden;
	animation: reveal 1s var(--total) forwards;
}
.title span::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	transform-origin: left;
	padding-bottom: 100px;
    background-color: white; /* #0561ee */
	animation: rollIn var(--duration) var(--delay) forwards,
		rollOut var(--duration) var(--total) forwards;
    
}
@keyframes reveal {
	to {
		color: white;
	}
}
@keyframes rollIn {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
@keyframes rollOut {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(105%);
	}
}
.about-me, .projects, .contact{
    position: relative;
    display: flex;
    border: none;
    border-color: #000000;
    border-bottom: 1px solid #000000;
    height: 100vh;
}
.about-me{
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-image: url('https://images.pexels.com/photos/10024569/pexels-photo-10024569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:cover;
}
/* about me */
.picture-container{
    position: relative;
    display: flex;
    height: 80vh;
    margin: auto;
    justify-content: center; /* Center horizontally */
    align-items: baseline; /* Center vertically */
}
.pictures{
    display: flex;
    float: left;
    padding-right: 80px;
    margin-top: 150px;
}
.ex2{
    border-color: black;
    border-radius: 8px;
    height: 400px;
    width: 400px;
}
.my-text{
    height: 60px;
    width: 500px;
    transform: translateY(-300px);
}
.projects{
    position: relative;
    justify-content: center; /* Center horizontally */
    height: 1300px;
    background-image: url('https://images.pexels.com/photos/3361492/pexels-photo-3361492.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:cover;
}
.projects h1{
  color: white;
  position: absolute;
  margin-top: 80px;
}
.projects i{
  color:white;
  position: absolute;
  padding-top: 130px;
  padding-right: 10px;
}
.ex2{
    height: 220px;
    width: 220px;
}
.row1{
    position: absolute;
    transform: translateY(50%);
}
.row2{
    position: absolute;
    transform: translateY(150%);
}
.project-list{
    display: table-cell;
    justify-content: center; 
    text-align: center;
    padding-right: 100px;
    height: fit-content;
    width: 300px;
}
.project-list h1{
    font-size: small;
    margin-top: 20px;
    position: relative;
}
.tools{
    color:white;
    position: center;
    top: 30%;
}
.contact{
    border: none;
    background-image: url('https://images.pexels.com/photos/867467/pexels-photo-867467.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:cover;
}
.links2{
    position: absolute;
    left: 38%;
    top: 96%;
    padding: 0;
}
.links2 td{
    padding-right: 100px;
}
/* image slider */
.mySlides {display:none}
.left-arrow, .right-arrow, .points {cursor:pointer}
.points {height:13px;width:13px;padding:0}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: #f0f0f0;
    cursor: pointer;
}
.prev {
    left: 10px;
}
.next {
    right: 665px;
}
.dots-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    right: 50%;
    top: 150px;
}
.dot{
    border: none;
    background: white ;
    border-color: white;
    opacity: 60%;
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 50%;
    outline: none;
}
.dot:hover {
    background: rgba(0,0,0,0.3);
}
.dot.active{
    background: rgba(0,0,0,0.5);
}
/* social media icons */
.icons {
    display: flex;
	column-gap: 25px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
.icon {
    display: inline-flex;
	width: 120px;
	height: 120px;
	text-decoration: none;
	font-size: 26px;
	color: #000000;
	border-radius: 50%;
	outline: 2px solid #000000;
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
}
.icon:hover {
    outline-offset: 4px;
}
.icon i {
    margin: auto;
}
.icon:hover i {
    animation: shake 0.25s;
}
.icon--instagram:hover {
    background-image: radial-gradient(
        circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
        );
        outline-color: #a02d76;
    }
    .icon--twitter:hover {
        background-color: #1da1f2;
        outline-color: #1da1f2;
    }
    .icon--linkedin:hover {
        background-color: #0077b5;
        outline-color: #0077b5;
    }
    .icon--github:hover {
        background-color: #2ea44f;
	outline-color: #2ea44f;
}
@keyframes shake {
    10% {
        transform: rotate(15deg);
	}
	20% {
        transform: rotate(-15deg);
	}
	30% {
        transform: rotate(15deg);
	}
	40% {
        transform: rotate(-15deg);
	}
}
.contact h1{
    color: white;
    position: relative;
    top: 5%;
    left: 1%;
}
.contact h1::after{
    content: '';
    position: absolute;
    bottom: 850px;
    left: 65%;
    width: 130%; /* Adjust the width to control the length of the half-line */
    height: 8px;
    background-color: white; /* Adjust the color as desired */
    transform: translateX(-50%); /* Centers the half-line relative to the text */
}
.contact p{
    color: white;
    position: absolute;
    bottom: 730px;
    font-size:x-large;
    left: 3%;
}