body{
    font-family: sans-serif;
}
/* brand logo at the top of the page */
.ex1 {
    border-color: black;
    border-radius: 8px;
    height: 60px;
    width: 60px;
}
/* header of the top of the page */
.header{
    position: sticky;
    top: 0;
    border: none;
    border-bottom: 1px solid #000000;
    z-index: 100;
    background-color: white;
}
/* hyper links sections */
.nav{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}
.nav a{
    padding-right: 40px;
}
.links a{
    margin: 20px;
    font-size: larger;
    text-decoration: none;
}
a:link, a:visited {
    color: inherit;
    text-decoration: none;
}
/* home directory */
.home{
    position: relative;
    display: flex;
    border: none;
    border-color: black;
    border-bottom: 1px solid #000000;
    height: 100vh;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.about-me, .projects, .contact{
    position: relative;
    display: flex;
    border: none;
    border-color: #000000;
    border-bottom: 1px solid #000000;
    height: 100vh;
}
.about-me{
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
/* about me */
.picture-container{
    position: relative;
    display: flex;
    height: 80vh;
    justify-content: center; /* Center horizontally */
    align-items: baseline; /* Center vertically */
}
.pictures{
    float: left;
    padding-right: 130px;
    margin-top: 150px;
}
.ex2{
    border-color: black;
    border-radius: 8px;
    height: 400px;
    width: 400px;
}
.my-text{
    height: 60px;
    width: 500px;
    transform: translateY(-300px);
}
.projects{
    position: relative;
    justify-content: center; /* Center horizontally */
}
.projects h1{
  position: absolute;
  /* left: 45%; */
  /* transform: translate(-50%, -50%); */
  margin-top: 80px;
}
#p1, #p2,#p3{
    padding-right: 30px;
}
.contact{
    border: none;
}
.links2{
    position: absolute;
    left: 38%;
    top: 96%;
    padding: 0;
}
.links2 td{
    padding-right: 100px;
}
.contact h1{
    position: relative;
    top: 5%
}